<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FtpPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <FtpPlayer.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>192.168.1.220</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="ext" serializeAs="String">
                <value>.mp4;.mkv;.avi;.rm;.rmvb;.mpg;.flv</value>
            </setting>
            <setting name="vlc" serializeAs="String">
                <value>C:\Apps\vlc3.0.21\vlc.exe</value>
            </setting>
        </FtpPlayer.Properties.Settings>
    </applicationSettings>
</configuration>